.clear{
    clear: both;
}
.big_xpm{
    width: 100%;
    height: 100%;
}
.login_xpm{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.limg_xpm{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}
.lobox_xpm{
    position: absolute;
    width: 20%;
    height: 28%;
    top: 30%;
    left: 37%;
    background: #fff;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1vw;
    box-shadow: 0 0 10px 10px rgb(130, 217, 243);  
}
.htai_xpm{
    width: 30%;
    height: 10%;
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 28px;
    color: #fff;
    text-align: center;
}
.lgusr_xpm{
    width: 15%;
}
.user_xpm{
    padding: 1%;
    height: 15%;
    margin-bottom: 6%;
}
.user_xpm div{
    width: 22%;
    height: 100%;
    float: left;
    display: flex;
    position: relative;
    align-items: center;        /* 垂直方向 居中*/
}
.user_xpm input{
    width: 76%;
    height: 100%;
    border: none;
    padding-left: 2%;
    border-bottom: 1px solid rgb(19, 137, 233);
}
.dl_xpm{
    width: 30%;
    margin-left: 35%;
    background: rgb(98, 169, 228);
    border-radius: 5px;
    height: 20%;
    color: #fff;
    display: flex;
    align-items: center;        /* 垂直方向 居中*/
    justify-content: center;    /*水平方向 居中*/ 
}

/*home页*/
.homebox_xpm{
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.dh_xpm{
    width: 96%;
    height: 10%;   
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;        /* 垂直方向 居中*/ 
}
.logo_xpm{
    width: 5%;
}
.manage_xpm{
    height: 6%;
    display: flex;
    align-items: center;        /* 垂直方向 居中*/ 
    position: relative;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.m1_xpm{
    float: left;
    width: 30%;
    text-align: center;
    font-size: 18px;
    margin-left: 35%;
}
.m2_xpm{
    height: 60%;
    text-align: center;
    position: absolute;
    right: 3%;
    background: rgb(238, 155, 140);
    display: flex;
    align-items: center;        /* 垂直方向 居中*/ 
    border-radius: 2px;
}
.hbot_xpm{
    background: #fff;
    width: 100%;
    position: relative;
}
.tab_xpm{
    width: 20%;
    height: 500px;
    position: absolute;
    float: left;
    left: 0;
}
.tap_xpm{
    width: 80%;
    height: 500px;
    float: right;
    background: rgb(241, 229, 229);
}
.tab_xpm div{
    width: 100%;
    height: 12%;
    float: left;
    margin-bottom: 2%;
    font-size: 18px;
    align-items:center; display: -webkit-flex;/*垂直居中 盒子高度不固定*/
    justify-content:center; display: -webkit-flex;/*水平居中*/
    border: 1px solid #ddd;
}
.change_xpm{
    background: rgb(7, 210, 224);
}
.unchange_xpm{
    background: #fff;
}

/*family*/
.fam_xpm{
    width: 80%;
    margin-top: 100px;
    height: 300px;
    margin-left: 10%;
}
.fam_xpm div{
    float: left;
    width: 30%;
    height: 90%;
    font-size: 30px;
    text-align: center;
    align-items:center; display: -webkit-flex;/*垂直居中 盒子高度不固定*/
    justify-content:center; display: -webkit-flex;/*水平居中*/
    background: rgb(88, 155, 231);
}


/************************************/
/*user*/

/*topic*/

/*system*/

/*file*/